#!/bin/bash
set -e

cd "{{ app_current_directory }}"

set -a
. "{{ app_directory }}/.env"
set +a

exec "{{ app_directory }}/venv/bin/gunicorn" \
  --bind 0.0.0.0:{{ app_port }} \
  --workers 2 \
  --access-logfile "{{ app_directory }}/access.log" \
  --error-logfile "{{ app_directory }}/error.log" \
  app:app
