# Ansible
*.retry
.vault_pass
vault-password*
*.vault

# Python
__pycache__/
*.py[cod]
.env
*.env
.venv/
*.pyc
.DS_Store


# Application
*.log

# macOS
.DS_Store
actions-runner/

echo ".env" >> .gitignore
.env
